---
- name: Lesson 8
  become: yes
  hosts: staging_servers_web


  vars:
    github_url: https://github.com/boxfuse/boxfuse-sample-java-war-hello.git
    github_src: ~/from_git
    tomcat_path: /usr/local/tomcat/webapps
    
  tasks:
  - name: Install many presents
    apt: 
#    apt: name= {{ item }} state=present
      update_cache: yes
      autoremove: yes
      state: latest
      pkg:
      - git
      - maven
      - default-jdk
      - tomcat8


  - name: Clone Git
    become_user: vadimtv2017
    git: 
      repo: "{{ github_url }}"
      dest: "{{ github_src }}"
      clone: yes 
      update: yes
  

  - name: mavel package 
    become_user: vadimtv2017
    shell: cd {{ github_src }} && mvn package
    ignore_errors: False
    notify:
      - Copy war file to tomcat (shell)
#      - Copy war file to tomcat
      - Restart tomcat8



  handlers: 
  - name: Copy war file to tomcat
    copy: 
      src: "/home/vadimtv2017/from_git/target/hello-1.0.war"
      dest: "./hello-1.01.war" 
      force: no

  - name: Copy war file to tomcat (shell) 
    shell:
      cmd: cp /home/vadimtv2017/from_git/target/hello-1.0.war /var/lib/tomcat8/webapps/

  - name: Restart tomcat8
    service: 
      name: tomcat8
      state: restarted


